# Line starting with '#' are commented.
# Ignore all files mgroms
mgroms
# Ignore all files *~
*~
# Ignore all files *.mod
*.mod
# Ignore all files *.o
*.o
# Ignore all files *.log
*.log
# Ignore all files Makefile
Makefile
# Ignore all files *.nc
*.nc
# Ignore all files *.pdf
*.pdf
# Ignore all files *.swp
*.swp
# Ignore autom4te.cache/requests
autom4te.cache/requests
# Ignore config.status
config.status
# script end #
